// .homePage{
//     overflow-y:auto; 
.menue_title{
  height:45px;
}
.home_slides{
  width:100%;
  // height:100%;
  // margin-top:45px;
  background-color:#fff;
  .menu_tab1{
      // height:46px;
      line-height: 46px;           
      padding-left: 8px;
      padding-right: 8px;
      text-align: left;
      .menu_tab2 {
          line-height: 46px;           
          padding-left: 16px;
          padding-right: 8px;
          text-align: left;
          color:#6e6e6e;
          .menu_tab3 {
              line-height: 46px;           
              padding-left: 24px;
              padding-right: 8px;
              text-align: left;
              .menu_tab4 {
                  line-height: 46px;           
                  padding-left: 32px;
                  padding-right: 8px;
                  text-align: left;
              }
          }
      }
  }
  .activeTab{
      background-color: #dbdbdb;
      color: #1976d2;
      text-shadow: 0 0 5px #fff;
  }
  .tab_title{
      position: relative;
      .title_text{
          margin-right: 26px;
      }            
  }
  .arrow_icon{
      float: right;
      margin-right: 16px;
      position: absolute;
      right: 0;
      top:0;
  }
}
.home_content{
  // margin-left: 26%;
  height: 100%;
  .sub_module{
      width:24%;
      margin-left: 7%;
      margin-top: 3%;
      // height:46px;
      text-align: center;
      border:1px solid  rgb(224,35,47);
      border-radius: 5px;
      line-height: 46px;
  }
}
.main_content{
  height:100%;
  width:100%;
}
.thumbnail{
  height:2rem;
}
.finishGreen{
  color:green;
}
// }
