<ion-header>
  <ion-toolbar #mymenu>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      创建新店报告
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main_content">
  
  <div class="home_content">
    <div class="sub_module left wrap" *ngFor="let submodule of subModulelist">{{submodule.displayName}} </div>
  </div>
  
</ion-content>
<ion-menu [content]="mymenu" type="overlay">
    <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    <ion-content>
        <div class="home_slides left">
            <div class="menu_tab1" *ngFor="let module of moduleconfigList">
              <div class="tab_title" [class.activeTab]="module.isActive" (click)="tab1Click(module)">
                <div class="title_text wrap">{{module.displayName}}</div>
                <span *ngIf="module.children" class="arrow_icon">
                  <ion-icon *ngIf="!module.isActive" name="arrow-forward"></ion-icon>
                  <ion-icon *ngIf="module.isActive" name="arrow-down"></ion-icon>
                </span>
              </div>
              <div *ngIf="module.isActive">
                <div class="menu_tab2  wrap" *ngFor="let subModule of module.children">
                  <div class="tab_title" (click)="tab2Click(subModule,module)" [class.activeTab]="subModule.isActive">
                      <div class="title_text wrap">{{subModule.displayName}}</div>
                      <span *ngIf="subModule.children" class="arrow_icon">
                        <ion-icon *ngIf="!subModule.isActive" name="arrow-forward"></ion-icon>
                        <ion-icon *ngIf="subModule.isActive" name="arrow-down"></ion-icon>
                      </span>
                  </div>
                  <div *ngIf="subModule.isActive">
                    <div class="menu_tab3 wrap" *ngFor="let child of subModule.children">
                      <div class="tab_title" (click)="tab2Click(child,subModule)">
                          <div class="title_text wrap">{{child.displayName}}</div>
                          <span *ngIf="child.children" class="arrow_icon">
                            <ion-icon *ngIf="!child.isActive" name="arrow-forward"></ion-icon>
                            <ion-icon *ngIf="child.isActive" name="arrow-down"></ion-icon>
                          </span>
                      </div>
                      <div *ngIf="child.isActive">
                        <div class="menu_tab4 wrap" *ngFor="let subChild of child.children">
                          <div (click)="tab2Click(subChild,subModule)">{{subChild.displayName}}</div>
                          <!-- <div *ngFor="let subChild of subModule.children">
                              
                            </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
        
                </div>
              </div>
        
            </div>
          </div>
    </ion-content>
  </ion-menu>