page-home {

}
.myVedio{
    height:25rem;
    width:25rem;
    // border:0.5rem solid rgb(57,133,255); 
    border:0.5rem solid green; 
    border-radius: 50%;
    background-color: gray;
    // background-image: url('../assets/imgs/iu.jpeg');
    // background-size:100%;
    margin:0 auto;
    video{
        display: none;
    }
    canvas{
        // width:250px;
        // height:250px;
        // display: none;
        
    }
    overflow: hidden;
}